// COLORS
:root {
  --backgounrd: #000;
  --background-white: #f6f6f6;
  --background-card-program: #070707;
  --orange: #e7490f;
  --white: #fff;
  --gray: #ececec;
  --gray-text: #7f7f7f;
}

// FONT SIZE

$base-font-size: 10px;

// MEDIA BREAKPOINTS

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
