@mixin section-title-white {
  color: var(--white);
  font-family: "Lato", sans-serif;
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@mixin section-title-black {
  color: var(--black);
  font-family: "Lato", sans-serif;
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@mixin section-descr-orange {
  color: var(--orange);
  font-family: "Lato", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 0.14rem;
  text-transform: uppercase;
}
@mixin p-18-white-normal {
  color: var(--white);
  font-family: "Lato", sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.6rem;
}
@mixin p-18-black-normal {
  color: var(--black);
  font-family: "Lato", sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.6rem;
}
@mixin p-16-white-normal {
  color: var(--white);
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@mixin p-16-black-normal {
  color: var(--black);
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@mixin p-16-gray-normal {
  color: var(--gray-text);
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@mixin p-12-gray-normal {
  color: var(--gray-text);
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@mixin p-24-white-bold {
  color: var(--white);
  font-family: "Lato", sans-serif;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@mixin p-28-black-bold {
  color: var(--black);
  font-family: "Lato", sans-serif;
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
@mixin header-btn-text {
  color: var(--white);
  font-family: "Lato", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
@mixin btn-white {
  color: var(--white);
  font-family: "Lato", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
@mixin btn-orange {
  color: var(--orange);
  font-family: "Lato", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
@mixin banner-title {
  color: var(--orange);
  font-family: "Lato", sans-serif;
  font-size: 4.4rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
@mixin card-number {
  color: var(--black);
  font-family: "Lato", sans-serif;
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
