@import "../scss/mixins/mixins";
@import "../scss/variables/variables";

@media (max-width: $lg) {
  .start {
    padding: 5rem 0rem;
    &_wrapper {
      padding-top: 0;
      margin-bottom: 5rem;
      text-align: center;
    }
    &_col-img {
      justify-content: center !important;
    }
  }
}

@media (max-width: $sm) {
  .row__custom-start--mobile {
    flex-direction: column-reverse;
  }
  .start {
    &_wrapper {
      text-align: left;
      padding: 0rem 0.75rem;
      margin-bottom: 0;
    }
    &_content {
      padding: 0rem 0.75rem;
      &::after {
        right: 0;
        bottom: 0;
        width: 25rem;
        height: 25rem;
      }
    }
  }
}
