@import "../scss/mixins/mixins";
@import "../scss/variables/variables";

@media (max-width: $lg) {
  .adv {
    padding: 5rem 0rem;
    &_content {
      text-align: center;
    }
  }
}

@media (max-width: 840px) {
  .adv {
    &_wrapper {
      &-card {
        &--number {
          width: 10.4rem;
          height: 10.4rem;
        }
      }
    }
  }
}
@media (max-width: 720px) {
  .adv {
    &_wrapper {
      &-card {
        padding: 0rem 0.75rem;
        &--number {
          width: 8.4rem;
          height: 8.4rem;
        }
      }
    }
  }
}
@media (max-width: $sm) {
  .adv {
    &_content {
      text-align: left;
      margin-bottom: 4rem;
      &-descr,
      &-title {
        padding: 0rem 0.75rem;
      }
    }
    &_wrapper {
      &-card {
        &--text {
          margin-bottom: 3rem;
        }
      }
    }
  }
}
