@import "../scss/mixins/mixins";
@import "../scss/variables/variables";

@media (max-width: $sm) {
  .fitness {
    padding: 0rem 0rem 5rem 0rem;
    &_top {
      margin: 3rem 0rem 0rem 0rem;
    }
    &_card {
      margin-bottom: 3rem;
    }
  }
}
